<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.kojoo.mapper.postMapper">

	<insert id="register">
		INSERT INTO post 
		(
			image_name, 
			comment, 
			member_id
		) 
		VALUES 
		(
			#{postImageName}, 
			#{comment}, 
			#{memberNo}
		) 
	</insert>
	
	<select id="myPosting" parameterType="com.kojoo.vo.MemberVO" resultType="com.kojoo.vo.PostVO">
		SELECT 
			member_id AS memberNo, 
			image_name AS postImageName, 
			comment, 
			reg_date AS regDate 
		FROM 
			post 
		WHERE 
			member_id = #{memberNo}
	</select>
	
	<select id="feedReading" parameterType="com.kojoo.vo.MemberVO" resultType="com.kojoo.vo.PostVO">
		SELECT 
		  mem.member_id AS memberNo, 
		  mem.user_name AS userName, 
		  mem.image_name AS profileImageName, 
		  po.image_name AS postImageName, 
		  po.comment AS comment, 
		  po.reg_date AS regDate, 
		  po.index AS postNo, 
		  (
		    SELECT 
		      COUNT(li.post_index) 
		    FROM 
		      `like` li 
		    WHERE 
		      li.post_index = po.index
		  ) AS `likeCount` 
		FROM 
		  post po 
		  LEFT JOIN members mem ON po.member_id = mem.member_id 
		WHERE 
		  po.member_id IN (
		    SELECT 
		      target_member_id 
		    FROM 
		      follow fo 
		    WHERE 
		      fo.member_id = #{memberNo}
		      ) 
		ORDER BY 
		  regDate DESC;

	</select>
	
	<select id="likeSelect" resultType="com.kojoo.vo.LikeVO" parameterType="com.kojoo.vo.MemberVO">
		SELECT 
			post_index AS postIndex, 
			member_index AS memberIndex, 
			reg_date AS regDate 
		FROM 
			`like` 
		WHERE 
			member_index = #{memberNo}
	</select>
		
	<insert id="likeInsert">
		INSERT INTO 
			`like` 
		(
			post_index, 
			member_index
		) 
		VALUES 
	 	(
		    #{postIndex},
		    #{memberIndex}
		)
	</insert>
	
	<select id="getLikeCount" parameterType="com.kojoo.vo.LikeVO" resultType="int">
		SELECT
			COUNT(*)
		FROM
			`like`
		WHERE 
			member_index = #{memberIndex}
		AND
			post_index = #{postIndex}
	</select>
	
	<delete id="deleteLike" parameterType="com.kojoo.vo.LikeVO">
		DELETE FROM 
			`like` 
		WHERE
			member_index = #{memberIndex}
		AND
			post_index = #{postIndex} 
	</delete>		
	
	<select id="postLikeCount" parameterType="com.kojoo.vo.LikeVO" resultType="int">
		SELECT
			COUNT(*)
		FROM
			`like`
		WHERE
			post_index = #{postIndex}
	</select>
</mapper>